<div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %>
          </li>
          <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
          <li><%= link_to "Login", '' %></li>
        </ul>
        <h3 class="muted">HOWTO's & HOMEMADE ITEMS</h3>
      </div>


	